<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TimbradoSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TimbradoSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="TimbradoSoap11Binding"
                contract="PACs.SolucionFactible.TimbradoPortType" name="TimbradoHttpSoap11Endpoint" />
            <endpoint address="http://testing.solucionfactible.com/ws/services/Timbrado.TimbradoHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="TimbradoSoap12Binding"
                contract="PACs.SolucionFactible.TimbradoPortType" name="TimbradoHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>